
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  /* background: var(--color-background); */
  /* transition: color 0.5s, background-color 0.5s; */
  /* line-height: 1.6; */
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bakbak One', cursive;
}

div,
p {
  font-family: 'Inter', sans-serif;
}

a {
  font-family: 'Mulish', sans-serif;
}

.view {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .view {
    padding: 0 132px;
  }

}

.d-none {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.emphasis {
  color: var(--default-content-color);
}